body {
background:linear-gradient(indigo,black);
}
h1 {
	color:white;
	text-align:center;
}
#ship{
    width: 100px;
    height: 200px;
    margin-left: 850px; 
    margin-top: 245px;
}
#ascore{
  text-align: center;
  font-size: 25px;
  color:grey;
}
#shipDiv {
   height: 100px;
   width: 800px;
   margin-top: 300px;
   /*position: absolute;*/
   }
#rockThing{
    width: 100px;
    height: 100px;
    position: absolute;
  }
#shipDiv img{
    transition:  0.5s;
    /*position: absolute;*/
  }
#rock{
  width: 100px;
  height: 300px;
}
#yousuk{
  color:red;
  font-size: 100px;
  text-align: center;

}
