body {
background:linear-gradient(black,indigo);
}
h1 {
	color:white;
	text-align:center;
}
#ship{
    width: 100px;
    height: 150px;
    margin-left: 850px; 
    margin-top: 300px;
}
#ascore{
  text-align: center;
  font-size: 25px
}
#shipDiv {
   height: 100px;
   width: 800px;
   margin-top: 300px;
   /*position: absolute;*/
   }
#rockThing{
    width: 100px;
    height: 100px;
    position: absolute;
  }
#shipDiv img{
    /*position: absolute;*/
  }
#rock{
  width: 100px;
  height: 100px;
}

