body {
background-color:grey;
}
h1 {
	color:white;
	text-align:center;
}
#ship{
    width: 100px;
    height: 150px;
    margin-left: 625px; 
    margin-top: 30px;
}
   #shipDiv {
   height: 100px;
   width: 800px;
   margin-top: 300px;
   }